table {
    margin: 2rem;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: black;
    text-align: center;

}

thead {
    background-color: rgb(228 240 245);
}

tbody {
    background-color: bisque;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}