.navBar {
    box-sizing: border-box;

    display: flex;
    padding: 8px;
    background-color: rgb(21, 23, 93);
    justify-content: flex-end;
    gap: 12px;
    width: 100%;
}

.linkButton,
.active-link,
.orderOpen {
    border-radius: 5px;
    padding: 5px;
}

.linkButton {
    background-color: rgb(222, 30, 30);
    color: blanchedalmond;


}

.active-link {
    background-color: chartreuse;
    color: black;

}

.orderOpen {
    background-color: darkorange;
    color: rgb(13, 9, 2);

}